- name: Install Docker dependencies
  become: true
  apt:
    name: [apt-transport-https, ca-certificates, curl, software-properties-common, python3-pip]
    state: present
    update_cache: yes

- name: Add Docker GPG key
  become: true
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  become: true
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Install Docker Engine
  become: true
  apt:
    name: docker-ce
    state: present
    update_cache: yes

- name: Install Docker SDK for Python (Required for Ansible)
  become: true
  pip:
    name: docker

- name: Ensure Docker is running
  become: true
  service:
    name: docker
    state: started
    enabled: yes

- name: Run Jenkins Container (Direct Shell)
  become: true
  shell: |
    docker run -d --name jenkins -p 8080:8080 -p 50000:50000 -v jenkins_home:/var/jenkins_home --restart always jenkins/jenkins:lts
  args:
    creates: /var/lib/docker/volumes/jenkins_home # عشان ميكررش الأمر لو شغال
